@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --backGroundColor: #0f0e17;
  --buttonBackgroundColor: #ff8906;
  --headlineColor: #fffffe;
  --paragraphColor: #a7a9be;
}

input,
textarea {
  width: 100%;
  padding: 0.7em;
  outline: none;
}

a {
  color: var(--headlineColor);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--backGroundColor);
}

.App {
  max-width: 900px;
  width: 80%;
  margin-inline: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--headlineColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  font-size: 1.3rem;
  color: var(--headlineColor);
}

.main {
  margin-top: 1rem;
  color: var(--headlineColor);
  flex: 1;
}

.footer {
  color: var(--headlineColor);
  text-align: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 0 24px;
  flex-wrap: wrap;
}

/* .searchForm {
  display: flex;
  flex-direction: column;
} */

.introduction-headline {
  text-align: center;
}

.introduction-paragraph {
  line-height: 2;
  color: var(--paragraphColor);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}

.about-headline {
  font-size: 1.4rem;
  font-weight: bold;
}

.about-paragraph {
  line-height: 2;
  color: var(--paragraphColor);
}

/* Post Page style */

.post-body {
  color: var(--paragraphColor);
}

.button-delete-post,
.button-create-post,
.button-edit-post {
  cursor: pointer;
  margin-top: 0.8em;
  color: var(--headlineColor);
  background-color: var(--buttonBackgroundColor);
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.8em;
}

/* New Post stye */

.new-post-form, .edit-post-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 600px) {
  .header {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}
